<div class="container">
    <div class="container col-12">
        <form class="text-center">
            <div class="row" >
                Datos personales
                <div class="col-12 ">
                    <mat-form-field class="col-3 ">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput [formControl]="nombreFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo. Raymundo">
                        <mat-error *ngIf="nombreFC.hasError('nombre') && !nombreFC.hasError('required')">
                            Por favor ingrese un nombre
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            El nombre es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-3 ">
                        <mat-label>Segundo Nombre</mat-label>
                        <input type="text" matInput [formControl]="segNombreFC"
                            placeholder="Ejemplo. Jesus">
                    </mat-form-field>
                    <mat-form-field class="col-3 ">
                        <mat-label>Apellido Paterno</mat-label>
                        <input type="text" matInput [formControl]="apellidoPaternoFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo. Mayen">
                        <mat-error *ngIf="apellidoPaternoFC.hasError('apellidoPaterno') && !apellidoPaternoFC.hasError('required')">
                            Por favor ingrese un nombre
                        </mat-error>
                        <mat-error *ngIf="apellidoPaternoFC.hasError('required')">
                            Apellido paterno es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-3 ">
                        <mat-label>Apellido Materno</mat-label>
                        <input type="text" matInput [formControl]="apellidoMaternoFC"
                            placeholder="Ejemplo. Ortiz">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" >
                <div class="col-12 ">
                    <mat-form-field class="col-7">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="mailFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo rmayen@example.com">
                        <mat-error *ngIf="mailFC.hasError('mail') && !mailFC.hasError('required')">
                            Ingrese direccion de correo valido
                        </mat-error>
                        <mat-error *ngIf="mailFC.hasError('required')">
                            Email es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-5">
                        <mat-label>Telefono</mat-label>
                        <input type="text" matInput [formControl]="telefonoFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo 5512345678">
                        <mat-error *ngIf="telefonoFC.hasError('telefono') && !telefonoFC.hasError('required')">
                            Ingrese numero de telefono valido
                        </mat-error>
                        <mat-error *ngIf="telefonoFC.hasError('required')">
                            Telefono es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" >
                Direccion
                <div class="col-12 ">
                    <mat-form-field class="col-8">
                        <mat-label>Avenida principal</mat-label>
                        <input type="email" matInput [formControl]="avenidaFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo Felix Cuavas">
                        <mat-error *ngIf="avenidaFC.hasError('avenida') && !avenidaFC.hasError('required')">
                            Ingrese nombre de avenida
                        </mat-error>
                        <mat-error *ngIf="avenidaFC.hasError('required')">
                            El nombre de la avenida es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-2">
                        <mat-label>Numero ext.</mat-label>
                        <input type="text" matInput [formControl]="numeroFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo 5512345678">
                        <mat-error *ngIf="numeroFC.hasError('numero') && !numeroFC.hasError('required')">
                            Ingrese numero exterior
                        </mat-error>
                        <mat-error *ngIf="numeroFC.hasError('required')">
                            Numero exterior es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-2">
                        <mat-label>Codigo Postal</mat-label>
                        <input type="text" matInput [formControl]="cpFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo 5512345678">
                        <mat-error *ngIf="cpFC.hasError('cp') && !cpFC.hasError('required')">
                            Ingrese codigo postal
                        </mat-error>
                        <mat-error *ngIf="cpFC.hasError('required')">
                            codigo postal es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" >
                <div class="col-12 ">
                    <mat-form-field class="col-4">
                        <mat-label>Colonia</mat-label>
                        <input type="email" matInput [formControl]="coloniaFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo Alvaro Obregon">
                        <mat-error *ngIf="coloniaFC.hasError('colonia') && !coloniaFC.hasError('required')">
                            Ingrese nombre de la colonia
                        </mat-error>
                        <mat-error *ngIf="coloniaFC.hasError('required')">
                            El nombre de la colonia es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label>Ciudad</mat-label>
                        <input type="text" matInput [formControl]="ciudadFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo Ciudad de Mexico">
                        <mat-error *ngIf="ciudadFC.hasError('ciudad') && !ciudadFC.hasError('required')">
                            Ingrese la ciudad
                        </mat-error>
                        <mat-error *ngIf="ciudadFC.hasError('required')">
                            El nombre de la ciudad es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label>Municipio</mat-label>
                        <input type="text" matInput [formControl]="municipioFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo 5512345678">
                        <mat-error *ngIf="municipioFC.hasError('municipio') && !municipioFC.hasError('required')">
                            Ingrese municipio
                        </mat-error>
                        <mat-error *ngIf="municipioFC.hasError('required')">
                            Nombre de municipio es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" >
                Datos Academicos
                <div class="col-12 ">
                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Seleccione una opcion</mat-label>
                        <mat-select [formControl]="carreraFC">
                          <mat-option value="option">Ingenieria en computacion</mat-option>
                          <mat-option value="option">Diseño grafico</mat-option>
                          <mat-option value="option">Administracion</mat-option>
                          <mat-option value="option">Ingenieria biologica</mat-option>
                        </mat-select>
                      </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label>Grupo</mat-label>
                        <input type="text" matInput [formControl]="grupoFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo GC01">
                        <mat-error *ngIf="grupoFC.hasError('grupo') && !grupoFC.hasError('required')">
                            Ingrese clave de grupo
                        </mat-error>
                        <mat-error *ngIf="grupoFC.hasError('required')">
                            Clave de grupo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label>Matricula</mat-label>
                        <input type="text" matInput [formControl]="matriculaFC" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo 223236038">
                        <mat-error *ngIf="matriculaFC.hasError('matricula') && !matriculaFC.hasError('required')">
                            Ingrese matricula
                        </mat-error>
                        <mat-error *ngIf="matriculaFC.hasError('required')">
                            Matricula es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="example-button-row">
                <button mat-raised-button (click)="guardarRegistro()">Guardar</button>
                <button mat-raised-button color="warn">Cancelar</button>
              </div>
        </form>
    </div>
</div>
